.privacyPolicyContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 65vh;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Introduction */
.privacyPolicyIntroduction {
  text-align: center;
  margin-bottom: 1rem;
}

/* Title */
.privacyPolicyTitle {
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  font-family: var(--font-anton), sans-serif;
  border-bottom: 3px solid var(--primary);
}

/* Description */
.privacyPolicyDescription {
  line-height: 1.35;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Privacy policy */
.policy {
  text-align: left;
}

/* Policy heading */
.policyHeading {
  line-height: 1;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 0.15rem;
  padding-bottom: 0.05rem;
  font-family: var(--font-bebas-neue), sans-serif;
  border-bottom: 2px solid var(--primary);
}

/* Policy text */
.policyText {
  line-height: 1.35;
  font-size: 1.25rem;
  color: var(--text-secondary);
}

.policyText:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .privacyPolicyTitle {
    font-size: 3.25rem;
  }

  .privacyPolicyDescription {
    font-size: 1.15rem;
  }

  .policyHeading {
    font-size: 1.25rem;
  }

  .policyText {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .privacyPolicyTitle {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--primary);
  }

  .privacyPolicyDescription {
    font-size: 1rem;
  }

  .policyHeading {
    font-size: 1.15rem;
  }

  .policyText {
    font-size: 1rem;
  }
}
