header {
  top: 0;
  width: 100%;
  z-index: 999;
  position: sticky;
  padding: 1.25rem 2rem;
  transition: 0.3s ease;
  background-color: var(--header-bg-color);
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.15);
}

/* Show mobile header on scroll up */
.visible {
  transform: translateY(0%);
}

/* Hide mobile header on scroll down */
.hidden {
  transform: translateY(-150%);
}

.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

/* Desktop header */
.desktopHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logoContainer img {
  width: 175px;
  transition: 0.3s ease;
}

.navContainer {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
}

/* Site navigation */
.navItems {
  gap: 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
}

.navItems a {
  font-size: 2rem;
  position: relative;
  transition: 0.3s ease;
  font-family: "Bebas Neue", sans-serif;
}

/* Hover underline effect */
.navItems a::after {
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -3px;
  position: absolute;
  transition: 0.3s ease;
  transform-origin: center;
  background-color: var(--primary);
  transform: translateX(-50%) scaleX(0);
}

/* Prevent underline effect on active link */
.navItems a:hover:not(.activeLink)::after {
  transform: translateX(-50%) scaleX(1);
}

/* Prevent hover effect on active link */
.navItems a:hover:not(.activeLink) {
  transform: translateY(-3px);
  color: var(--text-secondary);
}

/* Active link */
.navItems a.activeLink {
  border-bottom: 2px solid var(--primary);
}

/* Seperator */
.seperator {
  font-size: 2rem;
  transition: 0.3s ease;
}

/* Theme button */
.themeButton {
  font-size: 1.75rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  background-color: var(--header-bg-color);
}

.themeButton:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

/* Free class button */
.freeClassButton {
  font-size: 2rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: "Bebas Neue", sans-serif;
}

.freeClassButton:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-large);
  text-shadow: var(--shadow-large);
}

@media (max-width: 925px) {
  .logoContainer img {
    width: 165px;
  }

  .navItems {
    gap: 0.9rem;
  }

  .navItems a {
    font-size: 1.75rem;
  }

  .seperator {
    font-size: 1.75rem;
  }

  .themeButton {
    font-size: 1.5rem;
  }

  .freeClassButton {
    font-size: 1.75rem;
  }
}

@media (max-width: 825px) {
  .logoContainer img {
    width: 155px;
  }

  .navContainer {
    gap: 0.65rem;
  }

  .navItems {
    gap: 0.8rem;
  }

  .navItems a {
    font-size: 1.5rem;
  }

  .seperator {
    font-size: 1.5rem;
  }

  .themeButton {
    font-size: 1.25rem;
  }

  .freeClassButton {
    font-size: 1.5rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  header {
    padding: 1rem 1.75rem;
  }

  .logoContainer img {
    width: 145px;
  }

  .navContainer {
    gap: 0.55rem;
  }

  .navItems {
    gap: 0.7rem;
  }

  .navItems a {
    font-size: 1.375rem;
  }

  .seperator {
    font-size: 1.375rem;
  }

  .themeButton {
    font-size: 1.15rem;
  }

  .freeClassButton {
    font-size: 1.375rem;
  }
}

/* Get rid of theme button */
@media (max-width: 675px) {
  .themeButton {
    display: none;
  }
}

/* Get rid of seperator and free class button */
@media (max-width: 650px) {
  .logoContainer img {
    width: 150px;
  }

  .seperator {
    display: none;
  }

  .freeClassButton {
    display: none;
  }
}

/* Mobile header */
.mobileHeader {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* Phone button */
.phoneButton {
  display: none;
  background: none;
  font-size: 1.375rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.phoneButton:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

/* Logo */
.mobileLogoContainer img {
  width: 125px;
}

/* Hamburger button */
.hamburger {
  display: none;
  background: none;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.hamburger:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

.hamburger i {
  transition: transform 0.3s ease-in-out;
}

.hamburger i.spin {
  animation: hamburgerSpin 0.3s ease-in-out;
}

/* Hamburger spin animation */
@keyframes hamburgerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide desktop layout and show mobile layout */
@media (max-width: 550px) {
  header {
    padding: 1rem 1.5rem;
  }

  .desktopHeader {
    display: none;
  }

  .mobileHeader {
    display: flex;
  }

  .phoneButton,
  .hamburger {
    display: block;
  }
}

/* Sidebar */
.sidebarOverlay {
  inset: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  background: hsla(0, 0%, 0%, 0.75);
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.25rem;
  max-width: 250px;
  position: relative;
  flex-direction: column;
  box-shadow: var(--header-shadow);
  background-color: var(--header-bg-color);
}

/* Sidebar close button */
.sidebarClose {
  top: 1.25rem;
  left: 1.25rem;
  background: none;
  position: absolute;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.sidebarClose:hover {
  transform: scale(1.25);
  color: var(--text-secondary);
}

/* Sidebar site navigation */
.sidebarNavItems {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
}

.sidebarNavItems a {
  font-size: 1.5rem;
  transition: 0.3s ease;
  margin-left: -1.75rem;
  padding: 0.5rem 1.75rem;
  font-family: "Bebas Neue", sans-serif;
}

/* Prevent hover effect on active link */
.sidebarNavItems a:hover:not(.activeLink) {
  transform: translateX(5px);
  color: var(--text-secondary);
}

/* Active link */
.sidebarNavItems a.activeLink {
  position: relative;
  margin-left: -1.75rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1.75rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
}

/* Seperator */
.sidebarSeperator {
  height: 2px;
  border: none;
  margin: 1rem 0rem;
  background-color: var(--primary);
}

/* Free class button */
.sidebarFreeClassButton {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
}

.sidebarFreeClassButton a {
  padding: 0.5rem;
  font-size: 1.75rem;
  font-family: "Bebas Neue", sans-serif;
}

.sidebarFreeClassButton:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-large);
  text-shadow: var(--shadow-large);
}

/* Override the anchor tag hover effect inside the button */
.sidebarFreeClassButton a:hover {
  transform: none !important;
  color: hsl(0, 0%, 100%) !important;
}

/* Sidebar footer */
.sidebarFooter {
  gap: 0.5rem;
  display: flex;
  box-shadow: none;
  margin-top: auto;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-secondary);
  font-family: "Bebas Neue", sans-serif;
  background-color: var(--header-bg-color);
}

/* Ensure all icons take up consistent width */
.sidebarFooter i {
  width: 2rem;
  flex-shrink: 0;
  text-align: center;
}

/* Sidebar theme button */
.sidebarThemeButton {
  gap: 0.75rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.sidebarThemeButton:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}

/* Sidebar legal pages */
.sidebarFooter a {
  gap: 0.75rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.sidebarFooter a:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}
