.homeCTAContainer {
  width: 100vw;
  display: flex;
  padding: 2rem;
  text-align: center;
  align-items: center;
  margin-bottom: -2rem;
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to top, var(--footer-bg-color), var(--primary));
}

.logoContainer {
  opacity: 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  transform: translateY(30px);
}

/* Logo */
.logoContainer img {
  width: 250px;
  transition: 0.3s ease;
}

/* Text */
.text {
  opacity: 0;
  max-width: 800px;
  line-height: 1.35;
  font-size: 1.375rem;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  transform: translateY(30px);
}

/* CTA button */
.ctaButton {
  opacity: 0;
  font-size: 2rem;
  margin-top: 0.25rem;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  transform: translateY(30px);
  border: 2px solid var(--primary);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: "Bebas Neue", sans-serif;
}

.ctaButton:hover {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 100%);
}

/* Animations */
.logoContainer.fadeInElement {
  animation: fadeInUp 0.8s ease-out 0s forwards;
}

.text.fadeInElement {
  animation: fadeInUp 0.8s ease-out 0.2s forwards;
}

.text:nth-of-type(1).fadeInElement {
  animation-delay: 0.4s;
}

.text:nth-of-type(2).fadeInElement {
  animation-delay: 0.6s;
}

.text:nth-of-type(3).fadeInElement {
  animation-delay: 0.8s;
}

.text:nth-of-type(4).fadeInElement {
  animation-delay: 1s;
}

.ctaButton.fadeInElement {
  animation: fadeInUp 0.8s ease-out 1.2s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .homeCTAContainer {
    padding: 1.75rem;
    margin-bottom: -1.75rem;
  }

  .logoContainer img {
    width: 200px;
  }

  .text {
    font-size: 1.15rem;
  }

  .ctaButton {
    font-size: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .homeCTAContainer {
    padding: 1.5rem;
    margin-bottom: -1.5rem;
  }

  .logoContainer img {
    width: 175px;
  }

  .text {
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 1.375rem;
  }
}
