footer {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease;
  background-color: var(--footer-bg-color);
}

.footerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topContainer {
  text-align: center;
  margin-bottom: 1rem;
}

/* Legal disclaimer */
.legalDisclaimer {
  max-width: 1000px;
  font-size: 1.15rem;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 80%);
}

/* Copyright */
.copyright {
  font-weight: 500;
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 100%);
}

/* Seperator */
.seperator {
  width: 100%;
  height: 2px;
  border: none;
  margin-bottom: 0.75rem;
  background-color: var(--primary);
}

.bottomContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  transition: 0.3s ease;
  align-items: flex-start;
  justify-content: space-between;
}

.siteNavigation,
.socialLinks,
.legalPages,
.contactInfo {
  display: flex;
  flex-direction: column;
}

.navHeader {
  line-height: 1;
  font-weight: 400;
  font-size: 1.75rem;
  transition: 0.3s ease;
  margin-bottom: 0.15rem;
  color: hsl(0, 0%, 100%);
  font-family: "Bebas Neue", sans-serif;
}

.navItems {
  gap: 0.15rem;
  display: flex;
  flex-direction: column;
}

.navItems a {
  position: relative;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 80%);
}

.navItems a:hover {
  color: hsl(0, 0%, 100%);
  transform: translateX(5px);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  footer {
    padding: 1.75rem;
  }

  .legalDisclaimer {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .bottomContainer {
    flex-direction: column;
  }

  .navHeader {
    font-size: 1.5rem;
  }

  .navItems a {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  footer {
    padding: 1.5rem;
  }

  .legalDisclaimer {
    font-size: 0.95rem;
  }

  .copyright {
    font-size: 0.95rem;
  }

  .navHeader {
    font-size: 1.25rem;
  }

  .navItems a {
    font-size: 1rem;
  }
}
