.membershipContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Introduction */
.membershipIntroduction {
  text-align: center;
  margin-bottom: 2rem;
}

/* Title */
.membershipTitle {
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  font-family: var(--font-anton), sans-serif;
  border-bottom: 3px solid var(--primary);
}

/* Description */
.membershipDescription {
  line-height: 1.35;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Membership cards */
.membershipCards {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.membershipCard {
  display: flex;
  padding: 1.25rem;
  position: relative;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-small);
  border: 2px solid var(--primary);
  background: linear-gradient(to top, var(--header-bg-color), var(--bg-color));
}

.membershipCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-large);
}

/* Membership name */
.membershipName {
  line-height: 1;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  font-family: var(--font-anton), sans-serif;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Monthly price */
.price {
  font-size: 1.5rem;
  font-style: italic;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Seperator */
.separator {
  width: 100%;
  height: 2px;
  margin: 0.5rem 0rem;
  background-color: var(--primary);
}

/* Membership benefits */
.featuresTitle {
  font-size: 2rem;
  transition: 0.3s ease;
  font-family: var(--font-bebas-neue), sans-serif;
}

.featuresList {
  text-align: center;
  margin-bottom: 0.75rem;
}

.featureItem {
  padding: 0.25rem;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Sign up button */
.signUpButton {
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-bebas-neue), sans-serif;
}

.signUpButton:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-large);
  text-shadow: var(--shadow-large);
}

/* Individual styles for popular card */
.membershipCard.popular {
  border: none;
  background: linear-gradient(to top, hsl(0, 100%, 25%), hsl(0, 100%, 35%));
}

.membershipCard.popular .popularBadge {
  left: 50%;
  top: -20px;
  font-weight: 500;
  position: absolute;
  font-size: 1.25rem;
  text-align: center;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transform: translateX(-50%);
  box-shadow: var(--shadow-large);
  background-color: var(--header-bg-color);
}

.membershipCard.popular .membershipName,
.membershipCard.popular .featuresTitle {
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .price,
.membershipCard.popular .featureItem {
  color: hsl(0, 0%, 90%);
}

.membershipCard.popular .separator {
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .signUpButton {
  text-shadow: none;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .signUpButton:hover {
  transform: scale(1.05);
}

/* Individual styles for free class card */
.membershipCard.freeclass .price {
  display: none;
}

/* Additional Info */
.additionalInfoContainer {
  width: 100vw;
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: -2rem;
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, var(--footer-bg-color), var(--primary));
}

.additionalInfo {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.additionalInfoTitle {
  opacity: 0;
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  transform: translateY(30px);
  font-family: var(--font-anton), sans-serif;
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

.additionalInfoList li {
  opacity: 0;
  font-size: 1.25rem;
  transition: 0.3s ease;
  transform: translateY(30px);
}

/* Animations */
.additionalInfoTitle.fadeInElement {
  animation: fadeInUp 0.8s ease-out 0s forwards;
}

.additionalInfoList li.fadeInElement {
  animation: fadeInUp 0.8s ease-out 0.2s forwards;
}

/* Delayed animations for list items */
.additionalInfoList li:nth-of-type(1).fadeInElement {
  animation-delay: 0.4s;
}

.additionalInfoList li:nth-of-type(2).fadeInElement {
  animation-delay: 0.6s;
}

.additionalInfoList li:nth-of-type(3).fadeInElement {
  animation-delay: 0.8s;
}

.additionalInfoList li:nth-of-type(4).fadeInElement {
  animation-delay: 1s;
}

.additionalInfoList li:nth-of-type(5).fadeInElement {
  animation-delay: 1.2s;
}

.additionalInfoList li:nth-of-type(6).fadeInElement {
  animation-delay: 1.4s;
}

.additionalInfoList li:nth-of-type(7).fadeInElement {
  animation-delay: 1.6s;
}

/* Fade in and up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .membershipTitle {
    font-size: 3.25rem;
  }

  .membershipDescription {
    font-size: 1.15rem;
  }

  .membershipName {
    font-size: 2.75rem;
  }

  .signUpButton {
    font-size: 1.5rem;
  }

  .additionalInfoContainer {
    padding: 1.75rem;
  }

  .additionalInfoTitle {
    font-size: 3.25rem;
  }

  .additionalInfoList li {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .membershipTitle {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--primary);
  }

  .membershipDescription {
    font-size: 1rem;
  }

  .membershipCard {
    padding: 1rem;
  }

  .membershipName {
    font-size: 2rem;
  }

  .price {
    font-size: 1.25rem;
  }

  .featuresTitle {
    font-size: 1.5rem;
  }

  .featureItem {
    font-size: 1.15rem;
  }

  .signUpButton {
    font-size: 1.25rem;
  }

  .membershipCard.popular .popularBadge {
    font-size: 1rem;
  }

  .additionalInfoContainer {
    padding: 1.5rem;
  }

  .additionalInfoTitle {
    font-size: 2.5rem;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }

  .additionalInfoList li {
    font-size: 1rem;
  }
}
