.coachesContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Coaches content */
.coachesContent {
  gap: 3rem;
  opacity: 0;
  display: grid;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  transform: translateX(-100px);
  grid-template-columns: 1fr 1fr;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.coachesInfo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.coachesTitle {
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  font-family: "Anton", sans-serif;
  border-bottom: 3px solid var(--primary);
}

/* Description */
.coachesDescription {
  line-height: 1.35;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* CTA button */
.scheduleButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 2.5rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  border: 2px solid var(--primary);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: "Bebas Neue", sans-serif;
}

.scheduleButton:hover {
  text-shadow: none;
  color: var(--text-primary);
  box-shadow: var(--shadow-large);
  border: 2px solid var(--text-primary);
  background-color: var(--header-bg-color);
}

/* Carousel */
.carouselContainer {
  opacity: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  transform: translateX(100px);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.carousel {
  overflow: hidden;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-large);
}

.carouselCard {
  display: flex;
  transition: 0.3s ease;
  flex-direction: column;
}

/* Carousel image */
.coachImageContainer {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}

.coachImage {
  opacity: 1;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  object-fit: cover;
  transition: 0.5s ease;
  object-position: center;
}

/* Carousel dots */
.carouselDots {
  gap: 1rem;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  background-color: var(--header-bg-color);
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transition: 0.3s ease;
  background-color: var(--text-primary);
}

.dot:not(.activeDot):hover {
  transform: scale(1.5);
}

.activeDot {
  transform: scale(1.5);
  background-color: var(--primary);
}

.coachInfo {
  padding: 1.25rem;
  text-align: center;
  transition: 0.3s ease;
  background: var(--header-bg-color);
}

/* Coach name */
.coachName {
  line-height: 1;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.375rem;
  padding-bottom: 0.15rem;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: 2px solid var(--primary);
}

/* Coach description */
.coachDescription {
  line-height: 1.35;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Navigation Arrows */
.carouselArrow {
  top: 50%;
  width: 3rem;
  z-index: 10;
  height: 3rem;
  display: flex;
  font-size: 1.25rem;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  transition: 0.1s ease;
  justify-content: center;
  color: hsl(0, 0%, 0%);
  transform: translateY(-50%);
  background: hsla(0, 0%, 100%, 0.75);
}

.carouselArrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.prevArrow {
  left: -1.5rem;
}

.nextArrow {
  right: -1.5rem;
}

/* Animations */
.coachesContent.animateCoachesContent {
  opacity: 1;
  transform: translateX(0);
}

.carouselContainer.animateCarouselContainer {
  opacity: 1;
  transform: translateX(0);
}

.coachImage.transitioning {
  opacity: 0.75;
  filter: blur(15px);
  transform: scale(1.25);
}

@media (max-width: 1000px) {
  .coachesContent {
    gap: 2rem;
  }

  .coachesTitle {
    font-size: 3.5rem;
  }

  .coachesDescription {
    font-size: 1.15rem;
  }

  .scheduleButton {
    font-size: 2.375rem;
  }

  .coachImageContainer {
    height: 350px;
  }

  .coachName {
    font-size: 1.75rem;
  }

  .coachDescription {
    font-size: 1.15rem;
  }

  .carouselArrow {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.15rem;
  }

  .prevArrow {
    left: -1.25rem;
  }

  .nextArrow {
    right: -1.25rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .coachesContent {
    gap: 1.5rem;
  }

  .coachesTitle {
    font-size: 3rem;
  }

  .scheduleButton {
    font-size: 2.25rem;
  }

  .coachImageContainer {
    height: 300px;
  }

  .coachInfo {
    padding: 1rem;
  }

  .coachName {
    font-size: 1.5rem;
  }

  .carouselArrow {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .prevArrow {
    left: -1.15rem;
  }

  .nextArrow {
    right: -1.15rem;
  }
}

/* Make layout vertical */
@media (max-width: 700px) {
  .coachesContent {
    grid-template-columns: 1fr;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .coachesContent {
    gap: 1rem;
  }

  .coachesTitle {
    font-size: 2.5rem;
  }

  .coachesDescription {
    font-size: 1rem;
  }

  .scheduleButton {
    font-size: 2rem;
  }

  .coachImageContainer {
    height: 275px;
  }

  .coachName {
    font-size: 1.375rem;
  }

  .coachDescription {
    font-size: 1rem;
  }

  .carouselArrow {
    width: 2rem;
    height: 2rem;
    font-size: 0.85rem;
  }

  .prevArrow {
    left: -1rem;
  }

  .nextArrow {
    right: -1rem;
  }
}
